node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Playwright
test-results
playwright-report
blob-report
.playwright
